body {
  overflow-x: hidden;
  font-family: monospace;
  background-color: rgb(0, 0, 0);
}

.add-to-cart {
  width: 80%;
  height: 4vh;
  background-color: inherit;
  border: none;
  margin-bottom: 2%;
  font-family: 'Calibri';
  outline: none;
  color: rgb(184, 184, 184);
  background-color: rgb(39, 39, 39); 
  box-shadow: 2px 2px 8px 2px rgb(24, 23, 23);
}

.add-to-cart:hover {
  transform: scale(1.1)
}

img {
  float: left;
  width: 100%;
  height: 46vh;
}

.songs-list {
  width: 100%;
  height: 92vh;
  margin-left: 10%;
  overflow-y: auto;
}

.song-card {
  text-align: center;
  float: left;
  width: 19.5%;
  height: fit-content;
  margin-right: 0.4%;
  margin-bottom: 0.4%;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 6px;
  background-color: rgb(31, 31, 31);
}

.song-card:hover {
  opacity: 0.8;
  box-shadow: 3px 4px 10px 4px rgb(0, 0, 0);
}

.name {  
  font-size: 12pt;
  color: rgb(255, 255, 255);
}

p {
  margin-top: 0.2vh;
  color: rgb(165, 165, 165);
}

.artist {
  color: rgb(224, 224, 224);
}

.price {
  float: right;
  color: rgb(255, 198, 41);
  font-family: sans-serif;
  font-size: 11pt;
}

.header-main {
  background-color: rgb(31, 31, 31);
  margin-left: 10%;
  margin-top: 0.5%;
  margin-bottom: 0.8%;
  width: 79%;
  font-size: 2vw;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: Verdana;
  border-radius: 5px;
  letter-spacing: 2vw;
}

.brand {
  margin-left: 7%;
}

.cart {
  margin-right: 1%;
  float: right;
  letter-spacing: 0vw;
}

hr {
  border-color: rgb(197, 197, 197);
}

sup {
  margin-left: 8%;
  font-size:  2vw;
  color: rgb(247, 172, 10);
}

.cart-contents {
  position: fixed;
  font-size: 8pt;
  background-color: white;
  right: 11.5%;
  width: 18%;  
  display: none;
  border-radius: 5px;
  opacity: 0.84;
  box-shadow: 2px 2px 8px 2px rgb(75, 75, 75);
}

.hide-cart {
  width: 100%;
  height: 1%;
  background-color: inherit;
  border: none;
  box-shadow: none;
  color: black;
  text-align: right;
  margin-right: 3%;
  transform: unset;
  outline: none;  
  margin-bottom: 2%;
}

.cart-empty {
  font-size: 0.9vw;
}

.cart-item {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: left;
  color: black;
  width: 100%;
}

.cart-song-name {
  margin-left: 1.2%;
  font-size: 1.9vh;
  font-family: monospace;
}

.cart-song-remove {
  color: red;
  font-family: monospace;
  font-size: 1.6vh;
  margin-right: 2%;
  float: right;
  cursor: pointer;
}

.cart-song-price {
  font-size: 11pt;
  color: rgb(209, 143, 0);
  font-family: monospace;
}

.cart-song-artist {
  margin-left: 2.4%;
  font-size: 1.3vh;
  font-family: monospace;
  font-weight: unset;
}

.cart-item-count {
  font-size: 1.2vw;
  color: rgb(255, 255, 255);
}

.checkout {
  background-color: rgb(87, 177, 236);
  border: none;
  border-radius: 10px;
  width: 40%;
  height: 2.2vh;
  color: white;
  margin-right: 0.7vh;
  margin-top: 0.7vh;
  margin-bottom: 0.5vh;
  float: right;
  font-size: 1.4vh;
  outline: none;
}

.checkout:hover {
  opacity: 0.8;
  transform: scale(1.07);
}

.cart-total {
  margin-left: 1.2%;
  margin-top: 3%;
  font-family: monospace;
  font-weight: bold;
  font-size: 1.4vh;
  float: left;
  color:rgb(216, 145, 13);
}